.top5header {
    font-family: 'Poppins', sans-serif;
    font-size: $subtitle;
    font-weight: 400;
    margin: 2em 0;
}

.top5 {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 40px;
    counter-reset: my-top5 6;

        li {
            counter-increment: my-top5 -1;
            position: relative;
        }

        li::before {
            content: counter(my-top5);
            //background-color: red;
            font-family: 'Outfit', sans-serif;
            font-size: $subtitle;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("../../../images/background/top5_pointer.svg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        li.number1::before {
            width: 48px;
            height: 48px;
            font-size: $title_1;
        }

        h4 {
            font-size: $subtitle;
            font-family: 'Outfit', sans-serif;
            margin: 0.75em 0 1em 2em;
            line-height: 1.2;
        }
}

.top5_content_image img {
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.top5_content {
    display: flex;
    gap: 24px;
    flex-direction: row;

        p:first-of-type {
            margin-top: 0;
        }
}

.top5_content_image {
    display: flex;
    flex-direction: column;
}

.top5_content_image_pie {

    padding: 16px;
    background-color: $l_Secondary;
    border-radius: 0 0 8px 8px;

    dl {
        margin: 0;
    }


    dt {
        font-weight: 800;
    }

    dd {
        margin: 0.2em 0;
    }

    dt, dd {
        display: inline-block;
        font-size: $body_2;
    }

    h5 {
        font-size: 20px;
        font-family: 'Outfit', sans-serif;
        margin: 0;
    }
}

.top5 h6 {
    font-size: $body_1;
    margin: 1.5em 0 0.75em 0;
}

li.number1 {
    h4 {
        font-size: $title_1;
        line-height: 1.3;
    }

    .top5_content {
        flex-direction: column;
    }

    .top5_content_image {
        flex-direction: row;

            img {
                width: 70%;
                height: auto;
                border-radius: 8px 0 0 8px;
            }
    }

    .top5_content_image_pie {
        border-radius: 0 8px 8px 0;
        width: 30%;
        background-color: $l_Surface;
        color: $white;
    }
}

.top_number_five {
    height: 30px;
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: $body_2;
    font-weight: 600;
    text-overflow: ellipsis;

        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span {
            display: inline-block;
            min-width: 30px;
            width: 30px;
            height: 30px;
            background-image: url("../../../images/background/top5_pointer.svg");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Outfit', sans-serif;
            font-size: $body_1;
            color: $white;
            margin: 0 4px 0 8px;
        }
}

.top_number_five::before {
    content: "5";
    width: 30px;
    height: 30px;
    font-family: 'Outfit', sans-serif;
    font-size: $body_1;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../../images/background/top5_pointer.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

body#top5 .comment_rating {
    display: none;
}
    

@media (max-width: 1280px) {
    #top5 .article_individual article {
        grid-column: 2 / span 10;
    }
}

@media (max-width: 920px) {
    #top5 .article_individual article {
        grid-column: 1 / span 12;
    }

    #top5 .top5_content_image img {
        max-width: 250px;
    }

    #top5 li.number1 .top5_content_image img {
        max-width: 70%;
    }
}

@media (max-width: 680px) {
    #top5 .top5_content_image img {
        max-width: none;
        width: 100%;
    }

    #top5 li.number1 .top5_content_image img {
        max-width: none;
    }

    .top5_content {
        flex-direction: column;
    }

    li.number1 .top5_content_image {
        flex-direction: column;
    }

    li.number1 .top5_content_image img {
        height: 328px;
        border-radius: 8px 8px 0 0;
    }

    li.number1 .top5_content_image_pie {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 8px 8px; 
    }
}
    
